:root {
	--shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	--nav-gap: 4em;
	background-color: rebeccapurple;
}

@media (max-width: 660px) {
	:root {
		--nav-gap: 1.5em;
		height: 100%;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@media (max-width: 845px) {
	header {
		h1 {
			display: none;
		}
	}
}

body {
	line-height: 1.5;
	color: white;
}

li {
	list-style: none;
}

button {
	padding: 0.8em 1.6em;
	border: 0;
	cursor: pointer;
	color: rebeccapurple;
	border-radius: 0.3em;
	box-shadow: var(--shadow);
	font-weight: bold;
	font-size: 1.1em;
}

header {
	display: flex;
	min-height: 5em;
	padding: 1em 2em;
	gap: 1em;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
		rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
		rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

	> div {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2em;
	}
}

nav {
	margin: auto;
	ul {
		display: flex;
		gap: var(--nav-gap);
	}
}
