.homeTab {
	padding: 1.5em 2em;
	min-height: calc(100vh - 168px);

	section {
		min-height: 20em;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
	}
}
