.homeFooter {
	background-color: white;
	color: rebeccapurple;
	padding: 1em 3em;

	ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
		gap: 0.2em;
	}

	li {
		width: fit-content;
	}
}
